.page_nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  background-color: white;
  padding-top: 1rem;
}

.arrow {
  height: 50px;
  width: 50px;
}

.visible_nav_button {
  border: none;
  background-color: transparent;
  visibility: visible;
}

.hidden_nav_button {
  border: none;
  background-color: transparent;
  visibility: hidden;
}

.numbers {
  display: flex;
}

.page_num {
  width: 50px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.active_page_num {
  width: 50px;
  height: 40px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.1rem;
}

.inactive_page_num {
  width: 50px;
  height: 40px;
  border: none;
  background-color: transparent;
}
