.article {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  list-style-type: none;
  margin: 1rem;
}

.article_heading {
  display: flex;
}

.mainheadingcontent {
  display: flex;
  flex-direction: column;
}

.heading_contents {
  display: flex;
  flex-direction: column;
}

.subtext {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 3rem;
}

.title {
  font-size: 2rem;
  margin-left: 3rem;
}

.body {
  text-align: justify;
  margin-left: 4rem;
  margin-right: 4rem;
}

.bin{
  width: 25px;
  height: 25px;
}

.binButton{
  border: none;
  background-color: white;
}

.link:link, .link:visited{
  text-decoration: none;
  color: black;
}

.link:hover{
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  .subtext {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;   
    margin-left: 1rem;
  }
  .title {
    font-size: 2rem;
    margin-left: 1rem;
  }
  .body {
    text-align: justify;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
