.form{
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  margin-right: 4rem;
}

.input{
  height: 50px;
  padding-top: 0;
}


@media screen and (max-width:650px) {
  .form{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}