.topics{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  align-items: center;
  margin-top: 1rem;
}

.topic{
  list-style-type: none;
  display: flex;
  margin-bottom: 1rem;
  text-align: center;
}

.heading{
  display: flex;
  align-items: center;
}

.add_img{
  max-width: 25px;
  max-height: 25px;
  padding-bottom: 1rem;
}

.add_button{
  border: none;
  background-color: transparent;
  height: 30px;
}


.link:link, .link:visited{
  text-decoration: none;
  color: black;
}

.link:hover{
  text-decoration: underline;
}

@media screen and (max-width:480px) {
  .topics{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    align-items: center;
    margin-top: 1rem; 
  }
  .topic{
    list-style-type: none;
    display: flex;
    text-align: center;
    padding: 0rem;
    margin: 0rem;
    margin-bottom: 1rem;
  }
}