.topics{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  align-items: center;
  margin-top: 1rem;
}

.topic{
  list-style-type: none;
  display: flex;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

@media screen and (max-width:480px) {
  .topics{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    align-items: center;
    margin-top: 1rem; 
  }
  .topic{
    list-style-type: none;
    display: flex;
    text-align: center;
    padding: 0rem;
    margin: 0rem;
    margin-bottom: 1rem;
  }
}