
.comment {
  display: flex;
  border: 1px solid black;
  background-color: white;
  list-style-type: none;
  margin: 2rem;
  flex-basis: fill;
}

.contents{
  display: flex;
  flex-direction: column;
}

.subtext {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.binButton{
  border: none;
  background-color: white;
}

.bin{
  width: 25px;
  height: 25px;
}

@media screen and (max-width:650px) {
.comment {
  margin-right: 1rem;
  margin-left: 1rem;
}
.subtext{
  flex-wrap: wrap;
}
}