.votes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4rem;
  align-items: center;
}

.thumb {
  max-height: 2rem;
  max-width: 2rem;
}

.active_button{
  border: none;
  background-color: white;
  width: 45px;
  height: 40px;
}

.disabled_button{
  border: none;
  background-color: white;
  width: 45px;
  height: 40px;
  opacity: 0.5;
}

@media screen and (max-width:650px) {
  .votes {
    width: 3rem;
  }
  .thumb {
    max-height: 1.5rem;
    max-width: 1.5rem;
  }
}