
.comment {
  display: flex;
  border: 1px solid black;
  background-color: white;
  list-style-type: none;
  margin-right: 1em;
  margin-bottom: 1em;
  flex-basis: fill;
}

.contents{
  display: flex;
  flex-direction: column;
}

.subtext {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

h1{
  margin-left: 1rem;
}

.binButton{
  border: none;
  background-color: white;
}

.bin{
  width: 25px;
  height: 25px;
}