.main_page_all{
  display: flex;
  flex-direction: column;
}

.articles_topics{
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width:480px){
  .articles_topics{
    display: flex;
    flex-direction: column-reverse;
  }
}